/* Best practice */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Initialization */
:root {
  --brandColor: #e91e62b9;
  --linkHover: #e91e62a3;
  --formPrimaryColor: rgb(86, 85, 85);
}

/* Default state */
.modals_container {
  /* visibility: hidden;  */ /* The space is still occupy */

  display: none;
}

body {
  overflow: hidden;
  font: 16px;
}

/* HEADERS */
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0.5em 0;
}

h1 {
  font-size: 3em;
  font-family: "Reenie Beanie", cursive;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
}

h2 {
  font-size: 1.5em;
}

.header2 {
  font-size: 2em;
}

h3 {
  color: aliceblue;
  font-size: 2.5em;
}

header,
footer {
  height: 10vh;
}

/*========================= 
* MAIN 
===========================
*/

/* ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ *
  color: red;
  opacity: 1; /* Firefox 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge 
  color: red;
} */

main {
  height: 80vh;
}

nav {
  position: relative;
  height: inherit;
}

ul {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;

  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

ul a {
  color: var(--formBtnState);
  background-color: var(--brandColor);
  padding: 1em 2.5em;
}

ul a:hover,
ul a:focus {
  color: var(--formBtnState);
  background-color: var(--linkHover);
  padding: 1em 2.5em;
}

/*========================= 
* ILLUSTRATION 
===========================
*/

.modal_container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 30vh auto;
}

.modal_container > *:first-of-type {
  width: 50%;
}

.modal_container > section {
  padding: 60px;
  text-align: center;
}

.modal_container > section {
  background-color: var(--brandColor);
  color: aliceblue;
}

.modal_container > *:first-of-type p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

/*========================= 
* FORM 
===========================
*/

.modal_container .form_container {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  text-align: center;
}

.close_btn {
  position: relative;
  right: -5em;
  text-align: right;

  margin-bottom: 0.5em;
}

.social_media_accounts {
  margin: 4.5em 0 1.5em 0;
}

.social_media_accounts ul {
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
}

h2 span.site_initial {
  color: var(--brandColor);
}

.alternative_text {
  /* color: var(--brandColor); */
  font-weight: bold;
  margin: 1em 0 2.5em 0;
}

.alternative_text:before,
.alternative_text:after {
  content: "";
  width: 25%;
  background-color: var(--brandColor);
  display: inline-block;
  height: 1px;
  margin: 0 7px;

  position: relative;
  bottom: 3px;
}

form {
  position: relative;
}

/* form, */
.present_choice {
  display: none;
}

legend {
  margin: 4.5em 0 1.5em 0;
  text-align: left;
}

.sign_up_option2 a[href*="detail"] {
  background-color: var(--brandColor);
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 1em;

  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

fieldset:before {
  content: attr(data-pagination);
  display: inline;

  color: var(--formPrimaryColor);

  font-size: 1em;
  line-height: 1.5;

  position: absolute;
  top: 35px;
  left: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row input {
  border: none;
  border-bottom: 1.5px solid var(--formPrimaryColor);
  width: 15.5em;
  padding: 0.5em;

  margin: 0 0 1.5em 0;
}

.row input:hover,
.row input:focus {
  outline: none;
  border-bottom-color: var(--brandColor);
  color: var(--brandColor);
}

.row .an_input {
  display: flex;
  width: 15.5em;
  justify-content: flex-start;
  padding-left: 1.5em;
}

.an_input .gender {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  color: var(--formPrimaryColor);
  margin-top: 10px;
}

.sign_up_option2 a[href*="detail"]:focus,
.sign_up_option2 a[href*="detail"]:hover {
  outline: solid 2px rgba(0, 102, 255, 0.714);
  background-color: var(--linkHover);
}

fieldset {
  margin: 4em 0 4em 0;
  /* display: block; */
}

.form_footer {
  display: flex;
  justify-content: space-between;

  --formBtn: rgba(0, 102, 255, 0.884);
  --formBtnState: rgba(0, 102, 255, 0.809);
}

.form_footer span {
  font-size: 0.7em;
  color: var(--formPrimaryColor);
  display: inline-block;
  padding: 3px 0;
}

.form_footer span a img {
  width: 13px;
  height: 13px;
}

.step_move * {
  background-color: var(--formBtn);
  display: inline-block;

  color: whitesmoke;

  position: relative;
  right: -5em;
  padding: 0.5em;

  margin-left: 17px;
  border: none;

  width: 120px;
}

.step_move *:hover,
.step_move *:focus {
  background: var(--formBtnState);
  outline: var(--linkHover);
}

footer {
  text-align: center;
}
